@keyframes popup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    background-color: #00000080;
    animation: popup .2s linear;
}